html{
    scroll-behavior: smooth;
}



header{
    height: 100vh;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header .bg{
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

}
header .box h1{
    font-size: 2rem;
    color: white;
}
header .box p{
    font-size: 2rem;
    color: white;
}
header .box p::after{
    content: '|';
    animation-name: typing;
    /* font-weight: 100; */
    /* font-weight: bold; */
    /* font-family: "Roboto", sans-serif; */
    animation-duration: 10s ;
    animation-iteration-count: infinite;
}
@keyframes typing{
    1%{content: 'D|';}
    2%{content: 'De|';}
    3%{content: 'Des|';}
    4%{content: 'Desi|';}
    5%{content: 'Desig|';}
    6%{content: 'Design|';}
    7%{content: 'Designe|';}
    8%{content: 'Designer|';}
    16%{content: 'Designer|';}
    17.3%{content: 'Designe|';}
    18.6%{content: 'Design|';}
    19.9%{content: 'Desig|';}
    21.2%{content: 'Desi|';}
    22.5%{content: 'Des|';}
    23.8%{content: 'De|';}
    25.1%{content: 'Dev|';}
    26.4%{content: 'Deve|';}
    27.7%{content: 'Devel|';}
    29%{content: 'Develo|';}
    30.3%{content: 'Develop|';}
    31.6%{content: 'Develope|';}
    32%{content: 'Developer|';}
    40%{content: 'Developer|';}
    40.9%{content: 'Develope|';}
    41.8%{content: 'Develop|';}
    42.7%{content: 'Develo|';}
    43.6%{content: 'Devel|';}
    44.5%{content: 'Deve|';}
    45.4%{content: 'Dev|';}
    45.6%{content: 'De|';}
    46.3%{content: 'D|';}
    47.2%{content: '|';}
    48.1%{content: 'F|';}
    49%{content: 'Fr|';}
    49.9%{content: 'Fre|';}
    50.8%{content: 'Free|';}
    51.7%{content: 'Freel|';}
    52.6%{content: 'Freela|';}
    53.5%{content: 'Freelan|';}
    54.4%{content: 'Freelanc|';}
    55.3%{content: 'Freelance|';}
    56%{content: 'Freelancer|';}
    64%{content: 'Freelancer|';}
    64.7%{content: 'Freelance|';}
    65.4%{content: 'Freelanc|';}
    66.2%{content: 'Freelan|';}
    66.9%{content: 'Freela|';}
    67.6%{content: 'Freel|';}
    68.4%{content: 'Free|';}
    69.1%{content: 'Fre|';}
    69.9%{content: 'Fr|';}
    70.5%{content: 'F|';}
    71.3%{content: '|';}
    72%{content: 'P|';}
    72.7%{content: 'Ph|';}
    73.5%{content: 'Pho|';}
    74.2%{content: 'Phot|';}
    74.9%{content: 'Photo|';}
    75.6%{content: 'Photog|';}
    76.4%{content: 'Photogr|';}
    77.1%{content: 'Photogra|';}
    77.8%{content: 'Photograp|';}
    78.5%{content: 'Photograph|';}
    79.3%{content: 'Photographe|';}
    80%{content: 'Photographer|';}
    88%{content: 'Photographer|';}
    89%{content: 'Photographe|';}
    90%{content: 'Photograph|';}
    91%{content: 'Photograp|';}
    92%{content: 'Photogra|';}
    93%{content: 'Photogr|';}
    94%{content: 'Photog|';}
    95%{content: 'Photo|';}
    96%{content: 'Phot|';}
    97%{content: 'Pho|';}
    98%{content: 'Ph|';}
    99%{content: 'P|';}
    100%{content: '|';}

}
.title{
    position: relative;
    margin-bottom: 2rem;
}
.title::after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
    transform: translate(-50%);
}
.contact .title::after{
    transform: translate(0%);
}
.about{
    padding: 4rem 0 4rem 0;
}
.about .box{
    padding: 4rem 3rem;
}

.service-card{
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;

}
.service-icon{
    
    border: 10px solid #0078ff;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    transition: all ease-in-out 0.4s;
}
.services .service-card:hover .service-icon{
    border-color: #CDE1F8;
    background-color: #0078ff;
    color: white;
    
}



.stats{
    background-image: url(../images/counters-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #cde1f8;
}
.stats .bg{
    background: rgba(51, 70, 243, 0.5);
}
.stats .container{
    padding: 5rem;
}

.stats-icon{
    
    border: 10px solid #cde1f8;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: all ease-in-out 0.4s;
}
.stats .box:hover .stats-icon{
    border-color: #0078ff;
    background-color: #CDE1F8;
    color: darkblue;
}

.portfolio .container{
    padding: 4rem 0rem;
}
.portfolio span{
    color: #0078ff;
    font-size: 0.8rem;
    line-height: 1.2rem;
}
.portfolio-icon{
    background-color: white;
    border: 3px solid #0078ff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.portfolio .pf-image{
    overflow: hidden;
}
.portfolio .card-body{
    padding: 2rem 3% 1rem 4%;
}
.portfolio .portfolio-card img{
    transition: scale ease-in-out 0.7s;
}
.portfolio .portfolio-card:hover img{
    scale: 1.3 ;
}


.testimonial{
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #cde1f8;
}
.testimonial .bg{
    background: rgba(51, 70, 243, 0.5);
}
.testimonial .test-img img{
    width: 15%;    
}
.testimonial .carousel-indicators {
    bottom: -30px;
}

.blog .container{
    padding: 4rem 0rem;
}
.blog .clock-icon p{
    display: inline-block;
}
.blog .card-footer p{
    margin: 0;
}

.contact{
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* color: #cde1f8; */
}
.contact .bg{
    background: rgba(51, 70, 243, 0.5);
    padding: 10rem 3rem;
}


.contact .box{
    
    padding: 4rem 3rem;
    background-color: white;
}
.contact .content ul{
    list-style: none;
    padding: 0;
}
.contact .content ul .fa-solid{
    color: #0078ff;
    font-size: 1.5rem;
}
.contact-icon{
    background-color: white;
    border: 3px solid #0078ff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all ease-in-out 0.4s;
}

.contact .social-links li{
    display: inline-block;
    color: black;
    
}
.contact .social-links li:hover .contact-icon{
    border-color: #CDE1F8;
    background-color: #0078ff;
    color: white;
}
.contact .social-links li .fa-brands{
    font-size: 1.5rem;
}


footer{
    background-color: #0062D3;
}
footer p{
    margin: 0;
}


.back-to-top-icon{
    background-color: #0078ff;
    width: 40px;
    height: 40px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
}